body{
  background: whitesmoke;
}
h1{
  text-align: center;
  font-family: fantasy;
}
.container{
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  width: 640px;
  height: 640px;
  margin: auto;
  background: white;
}
.square{
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin: 0;
  float:left;
}
.btn{
  margin: auto;
  display: block;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border-width: 3px;
  font-size: 16px;
  background: whitesmoke;
  color: gray;
}
